* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.main_div {
    margin: 5px;
}

.main_div .container {
    width: 100%;
    display: flex;
    justify-content:space-around;
    margin: 10px 0px;
    padding: 0;
}

.main_div .container a {
    text-decoration: none;
}

.main_div .container .video_card {
    width: 320px;
    padding: 2px;
    border: 1px solid #aaa;
    border-radius: 2px;
}

.main_div .container .video_card:hover {
    box-shadow: 3px 4px 9px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 3px 4px 9px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 4px 9px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    border-radius: 6px;
}

.video_img {
    position: relative;
}

.video_img img {
    width: 100%;
    height: 100%;
    border-radius: 2px;
}

.video_img img:hover {
    border-radius: 6px;
}

.video_card .video_img div {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    border-radius: 4px;
    padding: 1px 4px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 12px;
    position: absolute;
    bottom: 10px;
    right: 6px;
}

.video_card .video_content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.video_card .video_content .video_logo {
    display: inline-block;
    margin: 7px 10px;
    width: 32px;
    height: 32px;
}

.video_card .video_content .video_logo img {
    width: 100%;
    height: 100%;
    border-radius: 36px;
}

.video_card .video_content .video_logo img:hover {
    width: 105%;
    height: 105%;
}

.video_card .video_content .video_title {
    width: 70%;
    color: black;
}

.video_title p {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    font-size: 12px;
}

.video_card .video_content .video_info svg:hover {
    background-color: #aaa;
    border-radius: 15px;
}